<p>Witam <%= @resource.email %>!</p>

<p>Ktos chce zmienic haslo czy akceptujesz?</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jesli to nie ty chcesz zresetowac haslo, skasuj tego emaila</p>

